* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    border: solid 1px;
    height: 500px;
    width: 200px;
}

main {
    display: flex;
    justify-content: center;
}
